@model JobsPortal.Models.JobReqMV

@{
    ViewBag.Title = "Job Requirements";
}

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="contact-title">Add Job Requirements</h3>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.DropDownList("JobRequirementID", null, "Select Requirements", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.JobRequirementID, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.PostJobID)
                            </div>
                        </div>
                        <div><hr/></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.JobRequirementDetails, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control single-input",
                                        @placeholder = "Enter Job Description"
                                    }
                                })
                                @Html.ValidationMessageFor(model => model.JobRequirementDetails, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Add" class="genric-btn success e-large circle" style="float:right;" />
                    @Html.ActionLink("Back to List", "CompanyJobsList", null, new { @class = "btn btn-default", @style = "float:left; border-radius: 10px;" })
                </div>
            } 
        </div> 
    </div>
</section>

<hr />

<h3>Job Requirements</h3>

<table class="table table-hover">
    <tr>
        <th>Requirement Title</th>
        <th>Details</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model.Details)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.JobRequirementsTable.JobRequirement)</td>
            <td>@Html.DisplayFor(modelItem => item.JobRequirementDetails)</td>
            <td>
                @Html.ActionLink("Delete", "DeleteReq", new { id = item.JobRequirementDetailsID }, new { @class = "genric-btn danger circle" })
            </td>
        </tr>
    }
</table>
