@model IEnumerable<DatabaseAccessLayer.PostJobTable>

@{
    ViewBag.Title = "AllCompanyPendingJobs";
}
<style>
    .truncate-url {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
    }
</style>

<h2>All Company Pending Jobs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            Min-Max Salary(Per Month)
        </th>
        <th>
            Location
        </th>
        <th>
            Vacancy
        </th>
        <th>
            PostDate
        </th>
        <th>
            ApplicationDeadline
        </th>
        <th>
            Redirect Url
        </th>
        <th>
            Category
        </th>
        <th>
            Nature
        </th>
        <th>
            Status
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @item.MinSalary - @item.MaxSalary INR
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDeadline)
            </td>
            <td class="truncate-url" title="@Html.DisplayFor(modelItem => item.WebUrl)">
                @Html.DisplayFor(modelItem => item.WebUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategoryTable.JobCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobNatureTable.JobNature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStatusTable.JobStatus)
            </td>
            <td>
                @Html.ActionLink("View", "JobDetails", new { id = item.PostJobID }, new { @class = "genric-btn success circle", @style = "margin-bottom: 10px;" })
                @Html.ActionLink("Approved", "ApprovedPost", new { id = item.PostJobID }, new { @class = "genric-btn info circle", @style = "margin-bottom: 10px;" })
                @Html.ActionLink("Cancelled", "CancelledPost", new { id = item.PostJobID }, new { @class = "genric-btn info circle", @style = "margin-bottom: 10px;" })
                @Html.ActionLink("Delete", "DeleteJobPost", new { id = item.PostJobID }, new { @class = "genric-btn danger circle" })

            </td>
        </tr>
    }

</table>


